<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Rbps</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <jsp-config>
    <taglib>
      <taglib-uri>/tld/options</taglib-uri>
      <taglib-location>/WEB-INF/tlds/htmloptions.tld</taglib-location>
    </taglib>
  </jsp-config>


  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.java.web.UserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>authServlet</servlet-name>
    <servlet-class>com.java.web.AuthServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>authServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>roleServlet</servlet-name>
    <servlet-class>com.java.web.RoleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>roleServlet</servlet-name>
    <url-pattern>/role</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.java.web.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>dictServlet</servlet-name>
    <servlet-class>com.java.web.DictServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dictServlet</servlet-name>
    <url-pattern>/dict</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>regionServlet</servlet-name>
    <servlet-class>com.java.web.RegionServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>regionServlet</servlet-name>
    <url-pattern>/freightTemplate/queryRegionList</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>provinceServlet</servlet-name>
    <servlet-class>com.java.web.ProvinceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>provinceServlet</servlet-name>
    <url-pattern>/freightTemplate/queryProvinceList</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>cityServlet</servlet-name>
    <servlet-class>com.java.web.CityServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>cityServlet</servlet-name>
    <url-pattern>/freightTemplate/queryCityList</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>areaServlet</servlet-name>
    <servlet-class>com.java.web.AreaServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>areaServlet</servlet-name>
    <url-pattern>/freightTemplate/queryAreaList</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>testcolumnServlet</servlet-name>
    <servlet-class>com.java.web.ColumnServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>testcolumnServlet</servlet-name>
    <url-pattern>/chart/columnchart</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>pieServlet</servlet-name>
    <servlet-class>com.java.web.PieServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>pieServlet</servlet-name>
    <url-pattern>/chart/piechart</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>lineServlet</servlet-name>
    <servlet-class>com.java.web.LineServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>lineServlet</servlet-name>
    <url-pattern>/chart/linechart</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>mixServlet</servlet-name>
    <servlet-class>com.java.web.MixServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>mixServlet</servlet-name>
    <url-pattern>/chart/mixchart</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>excelServlet</servlet-name>
        <servlet-class>com.java.web.ExcelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>excelServlet</servlet-name>
        <url-pattern>/excel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>attentanceServlet</servlet-name>
        <servlet-class>com.java.web.AttentanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>attentanceServlet</servlet-name>
        <url-pattern>/attentance</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>com.java.web.UploadExcelServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/excel/uploadexcel</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>uploadImageServlet</servlet-name>
        <servlet-class>com.java.web.UploadImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>uploadImageServlet</servlet-name>
        <url-pattern>/excel/uploadimage</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>showImageServlet</servlet-name>
        <servlet-class>com.java.web.ImageShowServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showImageServlet</servlet-name>
        <url-pattern>/excel/showimage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>selectServlet</servlet-name>
        <servlet-class>com.java.web.SelectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>selectServlet</servlet-name>
        <url-pattern>/select</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PresentServlet</servlet-name>
        <servlet-class>com.java.web.PresentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PresentServlet</servlet-name>
        <url-pattern>/present</url-pattern>
    </servlet-mapping>



  <servlet>
    <servlet-name>MonitorServlet</servlet-name>
    <servlet-class>com.java.web.MonitorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonitorServlet</servlet-name>
    <url-pattern>/monitor</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>CpuServlet</servlet-name>
    <servlet-class>com.java.web.CpuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CpuServlet</servlet-name>
    <url-pattern>/linecpu</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>TemperatureServlet</servlet-name>
    <servlet-class>com.java.web.TemperatureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemperatureServlet</servlet-name>
    <url-pattern>/temperature</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>CpuUsedRateServlet</servlet-name>
    <servlet-class>com.java.web.CpuRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CpuUsedRateServlet</servlet-name>
    <url-pattern>/cpu</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>MemoryUsedRateServlet</servlet-name>
    <servlet-class>com.java.web.MemoryRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoryUsedRateServlet</servlet-name>
    <url-pattern>/memory</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>GacProcessServlet</servlet-name>
    <servlet-class>com.java.web.GacProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GacProcessServlet</servlet-name>
    <url-pattern>/gacprocess</url-pattern>
  </servlet-mapping>


</web-app>